/*Variables*/
$text-light-color: #FFFFFF;
$text-logo-color: #FED136;
$font-family-page: 'Montserrat', sans-serif;
$font-family-logo: 'Great Vibes', cursive;
$font-family-splash-subtitle: 'Playfair Display', serif;
$font-family-card-heading: 'Roboto Slab', serif;
$main-button-color: #FED136;



/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-size: 14px;
  font-family: $font-family-page
}

.container {
  max-width: 934px;
  margin: 0 auto;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
  .section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
  }
}



/*Splash section and navigation*/

.splash {
  background-image: url(/images/splash.png);
  height: 100vh;
  position: relative;
  &::before {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
  }
}

.logo {
  font-family: $font-family-logo;
  font-size: 26px;
  color: $text-logo-color;
  height: 50px;
  margin-top: 30px;
  letter-spacing: 2px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  .menu-item {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin-right: 30px;

    a {
      text-decoration: none;
      color: $text-light-color;
      font-family: $font-family-page;
      font-weight: bold;
      font-size: 14px;
      height: 10px;
    }
  }
  .menu-item-last {
    margin-right: 0;
  }

}

header {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  .splash-inner {
    color: $text-light-color;
    z-index: 10;

    .splash-subtitle {
      font-size: 28px;
      text-transform: capitalize;
      font-style: italic;
      font-family: $font-family-splash-subtitle;
      text-align: center;
      margin: 0 auto;
    }
    .splash-title {
      font-size: 75px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
    }
    .button-main {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 auto;
      display: block;
      color: $text-light-color;
      background: $main-button-color;
      border: none;
      width: 240px;
      height: 70px;
      margin-top: 20px;
      border-radius: 5px;
      cursor: pointer;
      letter-spacing: 1px;
    }
  }

}
