/*Variables*/
$text-light-color: #FFFFFF;
$text-logo-color: #FED136;
$font-family-page: 'Montserrat', sans-serif;
$font-family-logo: 'Great Vibes', cursive;
$font-family-heading: 'Roboto Slab', serif;



/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-size: 14px;
  font-family: $font-family-page
}

.container {
  max-width: 934px;
  margin: 0 auto;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
  .section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
  }
}



/*Navigation*/

.splash {
  background-image: url(/images/splash.png);
  height: 100vh;
}
.navigation {
  background: transparent;


}
.logo {
  font-family: $font-family-logo;
  font-size: 26px;
  color: $text-logo-color;
  height: 50px;
  margin-top: 30px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  .menu-item {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin-right: 30px;

    a {
      text-decoration: none;
      color: $text-light-color;
      font-family: $font-family-page;
      font-weight: bold;
      font-size: 14px;
      height: 10px;
    }
  }
  .menu-item-last {
    margin-right: 0;
  }

}

